@charset "UTF-8";

@font-face {
    font-family: 'studio';
    src: url(fontes/BelleAllureCM-Gros.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor1: #F2D4C9;
    --cor2: #F2BBAE;
    --cor3: #A67C63;
    --cor4: #73462D;
    --cor5: #593624;
    --cor6: white;
    --cor7: black;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_studio: 'studio', 'cursive';
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte_studio);
    margin: 0px;
}
header {
    background-color: var(--cor2);
    margin: 15px 20px -22px 20px;
    padding: 0px;
    padding-bottom: 15px;
    border-radius: 5px;
}
header img {
    display: block;
    width: 50%;
    margin: auto;
}
main {
    background-color: white;
    max-width: 800px;
    min-width: 200px;
    margin: auto;
    margin-top: 23px;
    padding: 0px 20px 15px 20px;

}
main img {
    display: block;
    margin: auto;
    width: 100%;
}
article > h1 {
    font-size: 1.5em;
    color: var(--cor5);
}
article > h2 {
    font-size: 1.3em;
    color: var(--cor5);
}
article > p {
    font-family: var(--fonte_studio);
    font-size: 1.1em;
    color: black;
    text-align: justify;
    text-indent: 40px;
}
footer {
    background-color: var(--cor7);
    padding: 3px 0px;
    max-width: 840px;
    margin: auto;
}
footer > p{
    color: var(--cor6);
    margin: 0px 0px;
    text-align: right;
    padding: 0px 10px;
}